*{
    padding: 0;
    margin: 0;
}

article{
    background-color: #000000;
    color: #ffffff;
}
.table{
    background-color: #0bb945;
}
.row{
    background-color: black;
    color: white;
}

nav{
    background-color: rgb(50, 224, 224);
    color: white;
}
a{
    color: #ffffff;
}

/*Catalogo*/
.text{
    color: #ffffff;
}
.princi{
    font-size: 30px;
    font-family: roboto;
    text-align: center;
    color: #ffffff;
}

.accordion{
    background: #3b0808;
    color: #ffffff;
}
.accordion-button{
    font-size: inherit;
}
.accordion-button:not(.collapse){
    font-family: roboto;
    font-size: 30px;
    color: inherit;
    background: #92c51c;
    color: #ffffff;
}
.accordion-button:not(.collapse)::after{
    filter: brightness(0%) invert(100%);
}
.accordion-button:focus{
    box-shadow: inherit;
}
.accordion-collapse:not(.collapse){
    font-size: 20px;
    color: inherit;
    background: #000000;
    color: #ffffff;
}

/*Galeria*/
.text2{
    font-family: roboto;
    font-size: 35px;
    color: #ffffff;
}